<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Cadastro de título</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	
	<!-- NavBar do título -->
	<nav class="navbar navbar-inverse navbar-static-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="AlgaWorks" src="/images/logo-algaworks.png">
	      </a>
	    </div>
	  </div>
	</nav>
	
	<!-- Painel -->
	<div class="panel panel-default">
    	<div class="panel-heading">
    		<h1 class="panel-title">Pesquisa</h1>
    	</div>
    	
    	<!-- Painel corpo -->
    	<div class="panel-body">
    		<table class="table table-bordered table-stiperd">
    			<thead>
    				<tr>
    					<th class="text-center col-md-1">#</th>
    					<th>Descrição</th>
    					<th class="text-center col-md-2">Data Vencimento</th>
    					<th class="text-right col-md-2">Valor</th>
    					<th class="text-center col-md-2">Status</th>
    					<th class="col-md-1"></th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
    					<td colspan="6">Nenhum título foi encontrado</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>

<script src="/js/jquery-2.1.4.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>